[Unit]
Description=Prometheus Exporter for Restic
After=network.target

[Service]
User=<USERNAME>
ENVIRONMENT=RESTIC_REPOSITORY=/mnt/data/distrobox/restic
ENVIRONMENT=RESTIC_PASSWORD=1
Restart=on_fail
ExecStart=/usr/bin/restic-exporter

[Install]
WantedBy=default.target