[Unit]
Description=Prometheus Exporter for Restic
After=network.target

[Service]
User=<USERNAME>
ENVIRONMENT=RESTIC_REPOSITORY=<PATH_TO_REPO>
ENVIRONMENT=RESTIC_PASSWORD_FILE=<PATH_TO_PW_FILE>
Restart=on_fail
ExecStart=/usr/bin/restic-exporter

[Install]
WantedBy=default.target